*{
    box-sizing: border-box;
    font-family: 'Railway', sans-serif;
}
html {
        scroll-behavior: smooth; 
      }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.header{
    background-color: #4E6C50;
    
}
.footer{
    background-color: #4E6C50;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.section {
    width: 50%;
    margin-left: 40px;
    border: 1px solid black;
  }
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-link {
    color: white;
    padding: 0 20px;
    line-height: 50px;
  }

.h1{
    font-family: 'Quicksand', sans-serif;
}
.avatar{
    height: 200px;
    width: 200px;
}
.personal{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    width: 100px;
}
.nav-footer {
    color: white;
    padding: 0 20px;
    line-height: 50px;
}
.nav-list-footer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    list-style: none;
}